<div class="section">
  <div class="bannerInterno">
    <img src="assets/img/bannerContacto.jpg" alt="">
  </div>

  <div class="row-fluid">

    <div class="col-sm-12">

      <h2 class="text-center">
        Escríbanos y muy pronto <br>
        nos comunicaremos con usted
      </h2>

      <div class="row-fluid">
        <div class="col-sm-10 col-sm-offset-1">
          <form action="" class="form-contact">

            <div class="row-fluid">
              <div class="col-sm-6">
                <span>Nombres</span>
                <input type="text" name="Nombres" class="form-control">
              </div>
              <div class="col-sm-6">
                <span>Apellidos</span>
                <input type="text" name="Apellidos" class="form-control">
              </div>
            </div>

            <div class="row-fluid">
              <div class="col-sm-6">
                <span>Ciudad</span>
                <input type="text" name="Ciudad" class="form-control">
              </div>
              <div class="col-sm-6">
                <span>Dirección</span>
                <input type="text" name="Direccion" class="form-control">
              </div>
            </div>

            <div class="row-fluid">
              <div class="col-sm-6">
                <span>Teléfono</span>
                <input type="text" name="Telefono" class="form-control">
              </div>
              <div class="col-sm-6">
                <span>Email</span>
                <input type="text" name="Email" class="form-control">
              </div>
            </div>

            <div class="row-fluid">
              <div class="col-sm-12">
                <span>Mensaje</span>
                <textarea name="Mensaje" class="form-control"></textarea>
              </div>
            </div>

            <div class="row-fluid">
              <div class="col-sm-12">
                <div class="text-center">
                  <button type="submit">
                    ENVIAR
                  </button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>

    </div>

  </div>

</div>
