<div class="footer">
  <div class="section">
    <div class="row-fluid">
      <div class="col-sm-4">
        <h3>Empresa</h3>
        <ul class="opcionesFooter">
          <li>
            <a href="#/historia">Historia</a>
          </li>
          <li>
            <a href="#/empresa">Misón, Visión, Valores</a>
          </li>
          <li>
            <a href="#/politica_calidad">Política de Calidad</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3>Normatividad</h3>
        <ul class="opcionesFooter">
          <li>
            <a href="#/resolucion">Resolución CRC 3066 de 2011</a>
          </li>
          <li>
            <a href="#/internet_sano">Internet Sano</a>
          </li>
          <li>
            <a href="#/gobierno_linea">Gobierno en Línea</a>
          </li>
          <li>
            <a href="#/tratamiento_datos">Tratamiento de Datos personales</a>
          </li>
          <li>
            <a href="#/entes_reguladores">Entes Reguladores</a>
          </li>
          <li>
            <a href="#/seguridad_web">Seguridad Web</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <img src="assets/img/logo_footer.png" alt="Elite Online">
        <br><br>
        <ul class="opcionesFooter">
          <li>
            <i class="fa fa-phone"></i>
            231 9400 - 510 9256
          </li>
          <li>
            <i class="fa fa-building-o"></i>
            Cra 68F #25-62
          </li>
          <li>
            <i class="fa fa-envelope-o"></i>
            info@eliteonline.com.co
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-sm-12">
        <p class="copyright">
          Elite Online | Todos los derechos reservados | 2016
        </p>
      </div>
    </div>
  </div>
</div>
