<div class="section">
  <div class="bannerInterno">
    <img src="assets/img/bannerGaleria.jpg" alt="">
  </div>

  <div class="row-fluid">

    <div class="col-sm-12">
      <!-- GALERIA -->
        <div id="galeria" gallery>
					<div class="gallery">
				    <span>
						  <div class="image" >
							  <a href="assets/img/galeria/foto1.jpg" class="big"><img ng-src="assets/img/galeria/foto1.jpg" alt="" title="Descripcion" /></a>
							</div>
						</span>
					</div>
				</div>
			<!-- /GALERIA -->

    </div>

  </div>

</div>
