<div class="section">
  <div class="responsive-banner">
			<!-- banners Slider -->

			<ul class="rslides" slide>
				<li>
					<a href="" target="_blank">
            <span class="titulo">Internet</span>
            <span class="subtitulo">con grán covertura</span>
						<img ng-src="assets/img/banners/banner01.jpg" >
					</a>
				</li>
				<li>
					<a href="" target="_blank">
            <span class="titulo">WI-FI</span>
            <span class="subtitulo">En tu Hogar</span>
						<img ng-src="assets/img/banners/banner02.jpg" >
					</a>
				</li>
			 </ul>

			<!-- //End-slider-->
	</div>

  <div class="row-fluid text-center icons-home">
    <div class="col-sm-4">
      <img src="assets/img/conexion.png" alt="">
      <h1>Conexión</h1>
      <p>internet ilimitado con soporte 7/24, velocidad desde los 256 kbps</p>
    </div>
    <div class="col-sm-4">
      <img src="assets/img/equipos.png" alt="">
      <h1>Equipos</h1>
      <p>Equipos de conexión en comodato, mantenimientos preventivos</p>
    </div>
    <div class="col-sm-4">
      <img src="assets/img/infraestructura.png" alt="">
      <h1>Infraestructura</h1>
      <p>Infraestructura propia, diseñada para la distribución de redes a nivel nacional</p>
    </div>
  </div>

</div>
