<div class="section">
  <div class="bannerInterno">
    <img src="assets/img/bannerResolucion.jpg" alt="">
  </div>

  <!--div class="row-fluid">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="empresa">
        <div class="info">
          <div class="icon">
            <img src="assets/img/antena-icon-80.png" alt="Misión">
          </div>
          <div class="conent">
            <h1>MISIÓN</h1>
            <p>Es una compañía que ofrece soluciones integrales de voz y datos. Con tecnología de punta para comunicación de redes inhalámbricas a su alcance.</p>
            <p>Nuestra compañía cuenta con un equipo humano altamente calificado y disponible para la asesoría y soporte técnico para nuestros clientes</p>
          </div>
        </div>
        <div class="info">
          <div class="icon">
            <img src="assets/img/antena2-icon-80.png" alt="Visión">
          </div>
          <div class="conent">
            <h1>VISIÓN</h1>
            <p>Para el siglo XXI nos proyectamos a alcanzar los estándares de liderazgo en comunicaciones a nivel cundinamarca y nacional, con una tecnología de punta reconocida a nivel nacional, de esta manera contribuir al desarrollo de las comunicaciones de nuestro país.</p>
          </div>
        </div>
      </div>
    </div>
  </div-->

  <h1 class="sin-contenido">No hay contenido disponible</h1>

</div>
