body,html {	background-color: #F4F4F4;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

a, a img {	border: 0;
	transition: all 0.3s ease;
}

a:focus {	outline:0px;border: 0;
}

/*HEADER*/
.header {
	position: relative;
	height: 115px;
	margin: 1em 2em;
}

.header .logo{
	width: 300px;
	position: absolute;
}

.header .menu {
	width:100%;
	padding-left:330px;
	margin:0;
	list-style: none;
	text-align: right;
}

.header .menu li {
	display: inline-block;
	padding:2em 1em;
	font-weight: 500;
}

.header .menu li a{
	color: #5a5a5e;
}

.header .menu li a:hover{
	text-decoration: none;
	color: #518fc8;
}
/* /HEADER */

/*HOME*/
/*BANNERS HOME*/
.rslides .titulo {
    font-size: 70px;
		font-weight: bold;
    position: absolute;
		top: 35%;
    left: 60%;
		text-align: left;
    color: #FFF;
    z-index: 9;
}
.rslides .subtitulo {
    font-size: 35px;
    position: absolute;
    top: 55%;
    left: 60%;
    color: #fff;
    z-index: 9;
}
/*/BANNERS HOME*/

.icons-home {
	margin:3em 0;
	overflow: hidden;
}

.icons-home p {
	font-size:18px;
	margin:0 1em;
	line-height:1em;
	color:#6e6c6d;
}

/*/HOME*/

/*COMMON*/
.section {
	max-width: 1250px;
	margin:0 auto;
	overflow: hidden;
}

h1 {
	color:#052b38;
	font-weight: lighter;
}

.bannerInterno img{
	width:100%;
}

.sin-contenido {
	text-align: center;
	margin:3em 0;
	color: silver;
	font-size:45px;
	font-weight: bold;
}
/*/COMMON*/

/*FOOTER*/
.footer{
	background: #313131;
	padding: 2em 0;
	overflow: hidden;
}
.footer h3 {
	color: #FFF;
}
.footer .opcionesFooter {
	margin:0;
	padding:0;
	list-style: none;
}
.footer .opcionesFooter li,.footer .opcionesFooter li a{
	color: #fff;
	font-size: 14px;
}
.footer .opcionesFooter li a:hover {
	color: #518fc8;
	text-decoration: none;
}

.copyright {
	font-size:11px;
	text-align:center;
	color:#FFF;
	margin-top: 2em;
}
/*/FOOTER*/

/*EMPRESA*/
.empresa {
	margin: 4px 0;
}

.empresa .info {
	margin:4em 0;
	position:relative;
}

.empresa .info .icon {
	position: absolute;
	top:0;
	left:0;
}

.empresa .info .conent {
	padding-left:120px;
}

.empresa .info .conent h1 {
	font-size:28px;
	font-weight:bold;
	color: #1D8FC9;
}

.empresa .info .conent p {
	font-size:16px;
}
/*/EMPRESA*/

/*GALERIA*/


.gallery {
	margin: 2em 0;
}



.gallery
.image {
	width: 19%;
    display: inline-block;
    padding: 1em 0;
    border: 1px solid #E0E0E0;
    margin: .2em;
    border-radius: 8px;
    position: relative;
}

.gallery
.image
.Delete {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: #CC4C4C;
	color: #FFF;
	font-weight: bold;
}

.gallery
.image img {
	width: 100%;
}

/*/GALERIA*/


/*CONTACTO*/
.form-contact{
	margin:3em 1em;
	overflow: hidden;
}

.form-contact input[type="text"],
.form-contact textarea {
	box-shadow:none;
	border-radius: 0;
	padding:2em 1em;
}

.form-contact .row-fluid {
	margin: 2em 0;
	overflow: hidden;
}

.form-contact span{
	color:#777;
}

.form-contact button {
	background: #6D6D6D;
	border:0;
	padding:.5em 2em;
	color:#FFF;
}

.form-contact button:hover {
	background: #337ab7;
}

/*/CONTACTO*/
